<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Do only update the values within value="...", otherwise the service won't work anymore! -->
    <add key="baseUrl" value="http://127.0.0.1:8888/" />
    <add key="authToken" value="meowmeowmeow" />
    <add key="pathToScripts" value="C:\Scripts" />
    <add key="modulesToLoad" value="" /><!-- Comma separated module names. -->
    <add key="psExecutionPolicy" value="None" /><!-- Write none if nothing should be changed. -->
  </appSettings>
</configuration>
