<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!-- Do only update the values within value="...", otherwise the service won't work anymore! See the README for more information. -->
    <add key="baseUrl" value="http://127.0.0.1:8888/"/><!-- Leave empty if the HTTP module is not needed. E.g.: http://127.0.0.1:8888/ -->
    <add key="authToken" value="meowmeowmeow"/><!-- Leave empty for no authentication. -->
    <add key="pathToScripts" value="C:\Scripts"/>
    <add key="modulesToLoad" value=""/><!-- Comma separated module names, leave empty if nothing should be loaded. -->
    <add key="psExecutionPolicy" value="None"/><!-- Write none if nothing should be changed. -->
    <add key="psOutputDelimiter" value="||"/>
    <add key="rabbitMqBaseUrl" value=""/><!-- Leave empty if the RabbitMQ module is not needed. E.g.: amqp://127.0.0.1:5672/ -->
    <add key="rabbitMqUsername" value=""/>
    <add key="rabbitMqPassword" value=""/>
    <add key="rabbitMqRequestQueueName" value=""/>
    <add key="rabbitMqResponseExchange" value=""/>
    <add key="rabbitMqResponseRoutingKey" value=""/>
  </appSettings>
</configuration>
